<ion-header>
  <ion-toolbar>
    <ion-title>
      Daily Stuff Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onStuff(f)">
    
    <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
    <ion-card>
      <!-- #1 Milk -->
      <ion-grid>
        <ion-row>
          <ion-item (click)="getStuff('milk')" class="activated">
            <ion-icon name="beaker" slot="start"></ion-icon>
            <ion-label>Milk</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>

          <ion-radio-group>
            <div *ngIf="stuffData == 'milk'">
              <ion-col>
                <ion-label>Yes</ion-label>
                <ion-radio value="yes"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>No</ion-label>
                <ion-radio value="no"></ion-radio>
              </ion-col>
            </div>
          </ion-radio-group>
        </ion-row>
      </ion-grid>

      <!-- #2 Newspaper -->
      <ion-grid>
        <ion-row>
          <ion-item (click)="getStuff('newspaper')" class="activated">
            <ion-icon name="book" slot="start"></ion-icon>
            <ion-label>Newspaper</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>

          <ion-radio-group>
            <div *ngIf="stuffData == 'newspaper'">
              <ion-col>
                <ion-label>Yes</ion-label>
                <ion-radio value="yes"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>No</ion-label>
                <ion-radio value="no"></ion-radio>
              </ion-col>
            </div>
          </ion-radio-group>
        </ion-row>
      </ion-grid>

      <!-- #3 Maid -->
      <ion-grid>
        <ion-row>
          <ion-item (click)="getStuff('maid')" class="activated">
            <ion-icon name="woman" slot="start"></ion-icon>
            <ion-label>Maid</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>

          <ion-radio-group>
            <div *ngIf="stuffData == 'maid'">
              <ion-col>
                <ion-label>Yes</ion-label>
                <ion-radio value="yes"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>No</ion-label>
                <ion-radio value="no"></ion-radio>
              </ion-col>
            </div>
          </ion-radio-group>
        </ion-row>
      </ion-grid>

      <!-- #4 School bus -->
      <ion-grid>
        <ion-row>
          <ion-item (click)="getStuff('schoolbus')" class="activated">
            <ion-icon name="bus" slot="start"></ion-icon>
            <ion-label>School bus</ion-label>
          </ion-item>
        </ion-row>
        <ion-row>

          <ion-radio-group>
            <div *ngIf="stuffData == 'schoolbus'">
              <ion-col>
                <ion-label>Yes</ion-label>
                <ion-radio value="yes"></ion-radio>
              </ion-col>
              <ion-col>
                <ion-label>No</ion-label>
                <ion-radio value="no"></ion-radio>
              </ion-col>
            </div>
          </ion-radio-group>
        </ion-row>
      </ion-grid>
      <button ion-button block type="click" clear>Submit</button>
    </ion-card>
    

  </form>
</ion-content>