<ion-header>
  <ion-toolbar>
    <ion-title>
      Daily Stuff Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
  <form #form="ngForm" (ngSubmit)="dailyStuffForm(form)" novalidate>
    <!-- <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" required name="title" [(ngModel)]="title" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="description" name="description" ngControl="description"></ion-textarea>
    </ion-item> -->

    <!-- <ion-item (click)="onStuff('milk')" class="activated">
      <ion-icon name="beaker" slot="start"></ion-icon>
      <ion-label>Milk</ion-label>
    </ion-item>
    <ion-radio-group>
      <div *ngIf="stuffData == 'milk'">
        <ion-col>
          <ion-label>Yes</ion-label>
          <ion-radio value="yes" name="yes"></ion-radio>
        </ion-col>
        <ion-col>
          <ion-label>No</ion-label>
          <ion-radio value="no" name="no"></ion-radio>
        </ion-col>
      </div>
    </ion-radio-group> -->

    <ion-item>
      <ion-icon name="beaker" slot="start"></ion-icon>
      <ion-label>Milk</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="milk" name="milk">
        <ion-select-option value="milkYes">Yes</ion-select-option>
        <ion-select-option value="milkNo">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="book" slot="start"></ion-icon>
      <ion-label>Newspaper</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="newspaper" name="newspaper">
        <ion-select-option value="newsYes">Yes</ion-select-option>
        <ion-select-option value="newsNo">No</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-icon name="woman" slot="start"></ion-icon>
      <ion-label>Maid</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="maid" name="maid">
        <ion-select-option value="maidYes">Yes</ion-select-option>
        <ion-select-option value="maidNo">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-icon name="bus" slot="start"></ion-icon>
      <ion-label>School bus</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="bus" name="bus">
        <ion-select-option value="busYes">Yes</ion-select-option>
        <ion-select-option value="busNo">No</ion-select-option>
      </ion-select>
    </ion-item>
    
    
    <ion-button expand="block" type="submit" color="green" fill="clear">Submit your stuff</ion-button>
  </form>
  
</ion-content>