<ion-header>
  <ion-toolbar>
    <ion-title align="center">Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <b><ion-label >Stuff</ion-label></b>
  </ion-col>
  <ion-col col-4>
    <b><ion-label >Price</ion-label></b>
  </ion-col>
    <ion-col col-4>
      <b><ion-label >Total</ion-label></b>
  </ion-col>
</ion-row>

<ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >Milk</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >50 Rs.</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >50</ion-label>
  </ion-col>
</ion-row>

<ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >Newspaper</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >10 Rs.</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >10</ion-label>
  </ion-col>
</ion-row>

<ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >Maid</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >40 Rs.</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >50</ion-label>
  </ion-col>
</ion-row>

<ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >School bus</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >30 Rs.</ion-label>
  </ion-col>
    <ion-col col-4>
    <ion-label >30</ion-label>
  </ion-col>
</ion-row>

</ion-content>
